<plugin name='elurikkus-biocache-hubs' version='1.5.1-SNAPSHOT' grailsVersion='2.5 &gt; *'>
  <author>Nick dos Remedios</author>
  <authorEmail>nick.dosremedios@csiro.au</authorEmail>
  <title>Biocache Hubs Plugin</title>
  <description>A Grails plugin to provide the core functionality for searching and displaying biodiversity data from
biocache web services. Data access is via JSON REST web services
from the ALA biocache-service app (no local DB is required for this app).
</description>
  <documentation>https://github.com/AtlasOfLivingAustralia/biocache-hubs</documentation>
  <type>ElurikkusBiocacheHubsGrailsPlugin</type>
  <resources>
    <resource>BiocacheHubsUrlMappings</resource>
    <resource>BootStrap</resource>
    <resource>defaultConfig</resource>
    <resource>spring.resources</resource>
    <resource>au.org.ala.biocache.hubs.AdminController</resource>
    <resource>au.org.ala.biocache.hubs.AssertionsController</resource>
    <resource>au.org.ala.biocache.hubs.UserController</resource>
  </resources>
</plugin>